.orderWrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    width: 600px;
    height: 100%;
    row-gap: 15px;
}

.ingredientElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-between;*/
    margin: 10px 0;
}

.ingredientImage {
    margin-right: 10px;
}

.flexRight {
    /*align-self: flex-end;*/
    /*align-content: flex-end;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: flex-end;*/
    /*align-items: center;*/
    /*width: 100%;*/
    margin-left: auto;
    /*align-content: center;*/
    /*align-self: center;*/
    /*align-items: center;*/
}