/* centered container */
.centeredForm {
    margin: 100px auto;
    width: 480px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.input {
    width: 100%;
}
.input > div > div {
    width: 480px;
}

/* form */
form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}