.orderContainer {
    background-color: #1c1c21;
    flex-direction: column;
    height: auto;
    width: 584px;
    padding: 24px;
    margin-right: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: left;
}

.orderContainer:hover {
    background-color: #6a6a7a;
}

.topElements,
.bottomElements {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ingredientCirclesList {
    position: relative;
    height: 75px;
    display: flex;
    flex-direction: row;
}

.burgerConstructorTotal {
    align-items: center;
    display: flex;
    column-gap: 8px;
}
