.footerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.footerElement {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalContentContainer {
    max-width: 640px;
    justify-content: space-around;
    /*margin: auto;*/
    display: flex;
    flex-flow: column;
    text-align: center;
}